{% if account_view == "orders" %}
    <h1 class="pageTitle">Orders</h1>
    <div class="pageDivider"></div>
    {% if orders %}
    <div class="hidden md:grid-cols-4 md:grid gap-4 items-center pl-4 pr-4 pageLineTitles">
        <div class="flex flex-col justify-center items-start">Item(s)</div>
            <div class="flex flex-col justify-center items-start">Processed</div>
            <div class="flex flex-col justify-center items-start">Total</div>
            <div class="flex flex-col items-end justify-end"></div>
    </div>
    {% for order in orders %}
    <div class="pageSectionFeatureContainer p-4">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-0 md:gap-4 items-center pageSectionFeatureDisplay">
            <div class="md:flex md:flex-col grid grid-cols-2  justify-center items-start">
                {% for line in order.lines %}
                <span class="pageLineItemTitle">{{ line.product_name }}</span>
                <span class="pageLineItemTransactionID text-end md:text-start">{{ order.pretty_id }}</span>                
            {% endfor %}   

            </div>

                <div class="flex flex-row md:flex-col items-center md:items-start md:justify-center mb-2 md:mb-0">
                    <span class="pageLineItemType mr-2 md:mr-0">{{ order.is_subscription ? (not order.billing_cycle_sequence ? 'Subscription Payment' : 'Subscription Renewal') : 'One-Time Purchase' }}: </span>
                    <span class="pageLineItemDescription">{{ order.completed_at|time_diff }}</span>
                </div>

                <div class="flex flex-col justify-center items-start">
                    <span class="pageLineItemPrice">{{ order.total_amount_str }}</span>
                </div>

                <div class="flex items-center justify-start mt-4 md:mt-0 md:justify-end">
                    {% if order.is_subscription %}
                    <a class="btn btn-viewSubscription" href="/account/subscriptions/{{ order.subscription_id }}">{{ config("account-subscriptions-view-button-text") }}</a>
                {% endif %}
                </div>

        </div>
        <div class="pageSectionFeatureBackground"></div>
        </div>  
        {% endfor %}
        {% else %}
            <div class="no-orders-message">
                <div class="nothingFound">You have no orders associated with this account.</div>
                <a href="/" class="btn">Return to our store</a>
            </div>
        {% endif %}
{% endif %}